

.navbar-bg {
    /* background-color: rgb(66,165,245); */
  background: #8360c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4bcca3, #9073c6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4bcca3, #9073c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bodyaccueil {
  font-size: 1rem;
  background-image:url(fondecran.jpg);
  background-repeat:no-repeat;
}

.bodyOPAQUE{
    background-image:url(fondtransparent.jpg);
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 80px 0 0; /* Height of navbar TRUC*/
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-size: .975rem;
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 90px; /* Space for fixed navbar TRUC */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .50rem;
  padding-bottom: .50rem;
  font-size: 1rem;
  /* background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

div.texte {
  width: 20rem;
}

.warning_liste {
  color: red;
}

.cell1 {
  width: 50px;
}
.cell2 {
  max-width: 10px;
}

.c {
  max-width: 200px;
}

.titre_liste {
  font-size: 14pt;
  font-weight: 550;
}

.navbar a {
  font-weight: 500;
}

body {
  background-color: rgb(245,245,245);
}

.tableau {
  background-color: rgba(255,255,255,0.5);
}
